@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    
}

button{
    cursor: pointer;
}


/* --------------------------------------------------- Header and navbar ----------------------------------------- */
header {
    display: flex;
    align-items: center;
    justify-content: center;
}

header p {
    font-weight: bold;
    font-size: 3rem;
}
nav{
    position: sticky;
  top: 0;
  background-color: #f1f1f1;
}

.nav-tab {
    display: flex;
    flex-direction: row;
}

.nav-btn {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    margin-top: 0;
    
}
#search{
    padding: 1vh;
    border-radius: 10px ;
}

.nav {
    display: flex;
    justify-content: space-between;
}

.nav-tab li,
.nav-btn button {
    list-style-type: none;
    margin: 1rem;
    cursor: pointer;

}

.nav-tab li:hover {
    text-decoration: underline;
}

.nav-tab a {
    text-decoration: none;
}

.nav-tab a:visited {
    text-decoration: none;
    color: black;
}

.nav-btn button {
    background-color: black;
    color: white;
    width: 4vw;
    cursor: pointer;
}


.nav form {
    /* width: 1vh; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-top: 5vh; */
    
}
form input{
    width: 50vh;
    padding-top: 2vh;
    border: 0px;
}
a{
    color: black;
    text-decoration: none;
}
/* --------------------------------------------------------Main--------------------------------------------- */

main {
    margin-top: 1.5rem;
    margin-left: 3rem;
    margin-right: 3rem;
    margin-bottom: 10vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
}


.shop-category{
    margin-top: 1vh;
    margin-bottom: 10vh;
}
.heading h1{
    margin-bottom: 1vh;
    margin-top: 1vh;
}
.content {
    display: none;
}

.categories {
    display: flex;
    justify-content: space-between;
}

.each {
    margin-top: 1rem;
    height: 25vh;
    width: 20vw;
    overflow: hidden;
}

.each img {
    object-fit: fill;
}

#one {
    background-image: url('https://images.pexels.com/photos/785667/pexels-photo-785667.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#two {
    background-image: url('https://images.pexels.com/photos/179909/pexels-photo-179909.jpeg?auto=compress&cs=tinysrgb&w=600&w=1260&h=750&dpr=1');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#three {
    background-image: url('https://images.pexels.com/photos/842811/pexels-photo-842811.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#four {
    background-image: url('https://images.pexels.com/photos/1813947/pexels-photo-1813947.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* transition: opacity 0.5s ease; */
}



img {
    height: 50vh;
    width: 100%;
    object-fit: cover;
}

.content .btn {
    display: flex;
    justify-content: center;
    align-items: center;
    

}

.content .btn button {
    margin-left: 1rem;
    margin-right: 1rem;
}

.content p {
    margin-top: 0.1rem;
    margin-bottom: 0.1rem;
}

.content p,
.each {
    display: flex;
    justify-content: center;
    align-items: center;
}


.card-product {
    display: flex;
    flex-direction: column;
    width:35vh;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);
    margin: 10vh 15vh 0px 15px ;

    

  }
  
  .card-img {
    height: 30vh;
    width: 35vh;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    flex-grow: 0; 
    flex-shrink: 0; 
  }
  
  .card-details {
    min-height: 20vh;
    min-width: 35vh;
    display:flex;
    justify-content: center;
    align-items: center;


  }
  .detail-info{
    margin: 0px 10px 0px 10px;
  }

  .Products{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* align-items: center; */
  }
  
  .btn{
    background-color: black;
    color: #fff;
  }
  #top-products{
    display: flex;
  }
  #top-products p{
    margin-top: 3vh;
    margin-left: 1vh;
  }

  
  
/* ------------------------------------------------------feedback--------------------------------------------- */
.about-container{
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.about-container span{
    font-size: 5rem;
    
}
.content-about{
    text-align: center;
    font-size: 40px;
}
.feature{
    display: flex;
}
.f1,.f2,.f3{
    /* border: 2px solid black; */
    border-radius: 1000px;
    height: 20vh;
    width: 10vw;
    margin: 35px 50px 35px 50px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.f1 p{
    position: relative;

    top: 100%;
    left: 20%;
}
.f2 p{
    position: relative;
    top: 100%;
    left: 1vw;
}
.f3 p{
    position: relative;
    top: 100%;
    left: 0.5vw;
}
/* ------------------------------------------------------footer----------------------------------------------- */

footer {
    height: 20vh;
    width: 98.9vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f1f1f1;
}

.section-footer{
    margin:0px 50px 0px 50px  ;
}